In [5]:
Q.1) a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required-

In [6]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [7]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [13]:
driver.get('https://www.naukri.com/')

In [14]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bengalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [26]:
Job_title=[]
Job_location=[]
Company_name=[]
Experiance_required=[]

In [27]:
#scrapping job title from the given page-
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')   #relative x path.

for i in title_tags[0:10]:
    Job_title.append(i.text)
    
    
#scrapping job location from the given page-
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in location_tags[0:10]:
    Job_location.append(i.text)
    
    
#scrapping company name from the given page-
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tags[0:10]:
    Company_name.append(i.text)
    
#scrapping job experiance from the given page-
job_experiance=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')

for i in job_experiance[0:10]:
    Experiance_required.append(i.text)

In [28]:
print(len(Job_title),len(Job_location),len(Company_name),len(Experiance_required))

10 10 10 10

In [30]:
df=pd.DataFrame({'Job title':Job_title, 'Location':Job_location,'Company name':Company_name,'Experiance required':Experiance_required},index=[1,2,3,4,5,6,7,8,9,10])
df

,Job title,Location,Company name,Experiance required
1,Data Engineer/Data Analyst,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Tech Mahindra,6-11 Yrs
2,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
3,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
5,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
6,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
7,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs
8,ExcelHER-Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services,3-5 Yrs
9,Data Analyst,"Temp. WFH - Hyderabad/Secunderabad, Pune, Bang...",Allegis Group,4-9 Yrs
10,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs

In [ ]:
Q.2) a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name-

In [73]:
import selenium 
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [11]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [12]:
driver.get('https://www.naukri.com/')

In [13]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [15]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bengalore')

In [16]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search.click()

In [17]:
job_title=[]
job_location=[]
company_name=[]

In [20]:
job_heading=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in job_heading[0:10]:
    job_title.append(i.text)
    
    
    
job_loc=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in job_loc[0:10]:
    job_location.append(i.text)
    
    
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')    

for i in company[0:10]:
    company_name.append(i.text)

In [21]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [25]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company name':company_name},index=[1,2,3,4,5,6,7,8,9,10])
df

,Job Title,Job Location,Company name
1,Data Science Professional - IBM SPSS Statistic...,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru",Hexaware Technologies
2,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
4,Senior data scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics
5,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics
6,Data Scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics
7,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent
8,Manager - Innovations Hub - Machine Learning,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",PwC
9,Data Scientist,Bangalore/Bengaluru,IBM
10,Data Scientist,Bangalore/Bengaluru,IBM

In [ ]:
Q.3) scrape data for “Data Scientist” designation for first 10 job results-

In [305]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [306]:
driver.get('https://www.naukri.com/')

In [307]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [51]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search.click()

In [52]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location.click()

In [53]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [54]:
job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [55]:
job_heading=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in job_heading[0:10]:
    job_title.append(i.text)
    
    
    
job_loc=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in job_loc[0:10]:
    job_location.append(i.text)
    
    
    
company_title=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_title[0:10]:
    company_name.append(i.text)
    
    
experiance=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]') 

for i in experiance[0:10]:
    experiance_required.append(i.text)

In [56]:
print(len(job_title),len(job_location),len(company_name),len(experiance_required))

10 10 10 10

In [57]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company name':company_name,'Experiance required':experiance_required},index=[1,2,3,4,5,6,7,8,9,10])
df

,Job Title,Job Location,Company name,Experiance required
1,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
2,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
3,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
9,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs
10,ASE/SE/SSE-Data Science,Noida,Bold Technology Systems,2-7 Yrs

In [ ]:
Q.4) data of first 100 sunglasses listings on flipkart.com-

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

C:\Users\prate\AppData\Local\Temp\ipykernel_1300\2686437820.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [4]:
driver.get('https://www.flipkart.com/')

In [5]:
sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('Sunglasses')

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [7]:
brand=[]
product_description=[]
price=[]

In [8]:
start=0
end=3


for page in range(0,3):
    sun_brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in sun_brand:
        brand.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click

In [9]:
len(brand)

120

In [10]:
start=0
end=3


for page in range(0,3):
    description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description:
        product_description.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click

In [11]:
len(product_description)

120

In [12]:
start=0
end=3


for page in range(0,3):
    rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in rate:
        price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click

In [13]:
len(price)

120

In [14]:
brandd=brand[0:100]
product_descriptionn=product_description[0:100]
pricee=price[0:100]

In [16]:
df=pd.DataFrame({'Brand':brandd,'Product-description':product_descriptionn,'Price':pricee},index=range(1,101))
df

             Brand                                Product-description   Price
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹1,061
2    VINCENT CHASE    by Lenskart UV Protection Round Sunglasses (58)    ₹929
3        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
4           PIRASO       UV Protection Aviator Sunglasses (Free Size)    ₹268
5           PIRASO           UV Protection Clubmaster Sunglasses (54)    ₹224
..             ...                                                ...     ...
96     Eyewearlabs  Polarized, UV Protection Rectangular Sunglasse...  ₹1,563
97        Fastrack       UV Protection Aviator Sunglasses (Free Size)    ₹579
98        Fastrack              UV Protection Aviator Sunglasses (58)    ₹919
99       Elligator                UV Protection Round Sunglasses (53)    ₹149
100          Xross                     Aviator Sunglasses (Free Size)    ₹807

[100 rows x 3 columns]

In [ ]:
Q.5) Scrape 100 reviews data from flipkart.com for iphone11 phone-

In [1]:
import pandas as pd
import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

In [14]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

C:\Users\prate\AppData\Local\Temp\ipykernel_17592\2686437820.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [15]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [16]:
rating=[]
review_summary=[]
full_review=[]

In [17]:
start=0
end=10

for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_summary.append(i.text)
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')    
    next_button.click

In [18]:
len(review_summary)

100

In [19]:
start=0
end=10

for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')    
    next_button.click

In [20]:
len(rating)

100

In [21]:
start=0
end=10

for page in range(start,end):
    full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full:
        full_review.append(i.text)
        
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')    
    next_button.click

In [22]:
len(full_review)

100

In [24]:
df=pd.DataFrame({'Rating':rating,'Review summary':review_summary,'Full review':full_review},index=range(1,101))
df

,Rating,Review summary,Full review
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
5,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
96,5,Worth every penny,Previously I was using one plus 3t it was a gr...
97,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
99,5,Highly recommended,What a camera .....just awesome ..you can feel...
100,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [ ]:
Q.6) data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers-

In [74]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

C:\Users\prate\AppData\Local\Temp\ipykernel_17592\2686437820.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [75]:
driver.get('https://www.flipkart.com/')

In [76]:
sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys('sneakers')

In [77]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [79]:
brand=[]
productt_description=[]
price=[]

In [83]:
start=0
end=3

for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product:
        brand.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click

In [84]:
len(brand)

120

In [80]:
start=0
end=3

for page in range(start,end):
    description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description:
        productt_description.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click

In [82]:
len(productt_description)

120

In [85]:
start=0
end=3

for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in rate:
        price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click

In [86]:
len(price)

120

In [87]:
brand=brand[0:100]
product_description=productt_description[0:100]
price=price[0:100]

In [90]:
df=pd.DataFrame({'Brand':brand,'Product description':product_description,'Price':price},index=range(1,101))
df

        Brand                                Product description Price
1      BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹299
2      BRUTON  Combo Pack Of 2 Casual Shoes Sneakers For Men ...  ₹499
3         SFR                                   Sneakers For Men  ₹299
4        aadi  Synthetic Leather |Lightweight|Comfort|Summer|...  ₹399
5        aadi  Synthetic Leather |Lightweight|Comfort|Summer|...  ₹299
..        ...                                                ...   ...
96      BIRDE      Combo Pack of 2 Sports Shoes Sneakers For Men  ₹499
97     Footox  Sneaker for Mens | Casual Shoes | Men Shoes Sn...  ₹499
98     BRUTON             2 Combo Sneaker Shoes Sneakers For Men  ₹599
99       aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...  ₹349
100  Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...  ₹399

[100 rows x 3 columns]

In [ ]:
Q.7) first 10 laptops data-

In [59]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

C:\Users\prate\AppData\Local\Temp\ipykernel_1300\2686437820.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [60]:
driver.get('https://www.amazon.in/')

In [61]:
laptop=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('Laptop')

In [62]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [63]:
title1=[]
ratings1=[]
price2=[]

In [34]:
heading=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in heading:
    title1.append(i.text)
    
title=title1[0:10]

In [35]:
len(title)

10

In [36]:
rate=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rate:
    ratings1.append(i.text)
    
rating=ratings1[0:10]

In [39]:
len(rating)

10

In [42]:
pricing=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pricing:
    price2.append(i.text)
    
price=price2[0:10]

In [43]:
len(price)

10

In [45]:
df=pd.DataFrame({'Title':title,'Rating':rating,'Price':price},index=range(1,11))
df

                                                Title Rating   Price
1   Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...    4.1  36,158
2   Lenovo IdeaPad Slim 5 Intel Core i5 11th Gen 1...    4.1  57,878
3   Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...    3.7  25,650
4   Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...    4.4  40,990
5   Dell Inspiron 3520 Laptop,12th Gen Intel Core ...    3.6  56,990
6   Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 1...    4.1  59,990
7   Dell Inspiron 3511 Laptop, Intel i3-1115G4, 8G...    3.6  40,990
8   Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...    3.4  20,990
9   HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...    4.1  39,990
10  (Renewed) Dell Latitude E5470 Intel Core i5 6t...    3.6  21,599

In [ ]:
Q.8) python program to scrape data for Top 1000 Quotes of All Time-

In [51]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

In [52]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

C:\Users\prate\AppData\Local\Temp\ipykernel_23712\2686437820.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [53]:
driver.get('https://www.azquotes.com/')

In [54]:
top=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top.click()

In [55]:
quo=[]
auth=[]
type_of_quot=[]

In [56]:
start=0
end=9

for page in range(start,end):
    title=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in title:
        quo.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()

In [57]:
quote=driver.find_elements(By.XPATH,'//a[@class="title"]')

for i in quote:
    quo.append(i.text)

In [59]:
start=0
end=9

for page in range(start,end):
    writer=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in writer:
        auth.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()

In [60]:
write=driver.find_elements(By.XPATH,'//div[@class="author"]')

for i in write:
    auth.append(i.text)

In [63]:
start=0
end=9

for page in range(start,end):
    type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type:
        type_of_quot.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()

In [64]:
typee=driver.find_elements(By.XPATH,'//div[@class="tags"]')

for i in typee:
    type_of_quot.append(i.text)

In [66]:
len(quo)

1000

In [67]:
len(auth)

1000

In [68]:
len(type_of_quot)

1000

In [69]:
df=pd.DataFrame({'Quote':quo,'Author':auth,'Type of quote':type_of_quot},index=range(1,1001))
df

,Quote,Author,Type of quote
1,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
2,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
3,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
4,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
5,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
996,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
997,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
998,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
999,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
1000,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [ ]:
Q.9) a python program to display list of respected former Prime Ministers of India-

In [29]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

C:\Users\prate\AppData\Local\Temp\ipykernel_19484\2686437820.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [30]:
driver.get('https://www.jagranjosh.com/')

In [31]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [32]:
pm=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

In [33]:
name=[]
born_dead=[]
term_of_office=[]
remark=[]

In [38]:
Name=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')

for i in Name:
    name.append(i.text)

In [39]:
name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [40]:
born=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')

for i in born:
    born_dead.append(i.text)

In [41]:
born_dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [42]:
term=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')

for i in term:
    term_of_office.append(i.text)

In [45]:
term_of_office=term_of_office[0:36:2]
term_of_office

['15 August 1947 to 27 May 1964',
 '27 May 1964 to 9 June 1964,',
 '9 June 1964 to 11 January 1966',
 '11 January 1966 to 24 January 1966',
 '24 January 1966 to 24 March 1977',
 '24 March 1977 to  28 July 1979 ',
 '28 July 1979 to 14 January 1980',
 '14 January 1980 to 31 October 1984',
 '31 October 1984 to 2 December 1989',
 '2 December 1989 to 10 November 1990',
 '10 November 1990 to 21 June 1991',
 '21 June 1991 to 16 May 1996',
 '16 May 1996 to 1 June 1996',
 '1 June 1996 to 21 April 1997',
 '21 April 1997 to 19 March 1998 ',
 '19 March 1998 to 22 May 2004 ',
 '22 May 2004 to 26 May 2014   ',
 '26 May 2014 - Present']

In [46]:
remarkk=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')

for i in remarkk:
    remark.append(i.text)

In [47]:
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [52]:
df=pd.DataFrame({'Name':name,'Born_dead':born_dead,'Terms of office':term_of_office,'Remark':remark},index=range(1,19))
df

,Name,Born_dead,Terms of office,Remark
1,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
2,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
3,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
4,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
5,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
6,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
7,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
8,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
9,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
10,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
11,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
12,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
13,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
14,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
15,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
16,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
17,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
18,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [ ]:
Q.10)a python program to display list of 50 Most expensive cars in the world-

In [53]:
driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

C:\Users\prate\AppData\Local\Temp\ipykernel_19484\2686437820.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\prate\Downloads\chromedriver_mac_arm64\chromedriver.exe")

In [54]:
driver.get('https://www.motor1.com/')

In [55]:
click=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
click.click()

In [56]:
feature=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
feature.click()

In [57]:
list=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
list.click()

In [66]:
car=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a')
car.click()

In [69]:
carr_name=[]
price=[]

In [70]:
carrr=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

for i in carrr:
    carr_name.append(i.text)

In [71]:
car_name=carr_name[0:50]
car_name

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [72]:
rate=driver.find_elements(By.TAG_NAME,'strong')

for i in rate:
    price.append(i.text)

In [75]:
price=price[0:3]+price[4:51]
price

['Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

In [77]:
df=pd.DataFrame({'Car name':car_name,'Price':price},index=range(1,51))
df

                           Car name                        Price
1                     De Tomaso P72          Price: $1.3 Million
2                 Ferrari LaFerrari          Price: $1.4 Million
3                     Pagani Huayra          Price: $1.4 Million
4                      McLaren Elva          Price: $1.7 Million
5                       Czinger 21C          Price: $1.7 Million
6                     Ferrari Monza          Price: $1.7 Million
7                Gordon Murray T.33          Price: $1.7 Million
8                 Koenigsegg Gemera          Price: $1.7 Million
9                       Zenvo TSR-S          Price: $1.7 Million
10               Hennessey Venom F5          Price: $1.8 Million
11                  Bentley Bacalar          Price: $1.9 Million
12    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
13           Bentley Mulliner Batur          Price: $2.0 Million
14                     Deus Vayanne          Price: $2.0 Million
15                      SSC Tuatara         Price: $2.0 Million*
16                      Lotus Evija          Price: $2.1 Million
17              Aston Martin Vulcan          Price: $2.3 Million
18                       Delage D12          Price: $2.3 Million
19                McLaren Speedtail          Price: $2.3 Million
20                     Rimac Nevera          Price: $2.4 Million
21                    Pagani Utopia          Price: $2.5 Million
22             Pininfarina Battista          Price: $2.5 Million
23                Ferrari FXX K Evo          Price: $2.6 Million
24               Gordon Murray T.50          Price: $2.6 Million
25             Lamborghini Countach          Price: $2.6 Million
26         Mercedes-AMG Project One          Price: $2.7 Million
27              Aston Martin Victor          Price: $3.0 Million
28      Hennessey Venom F5 Roadster                 $3.0 Million
29                 Koenigsegg Jesko          Price: $3.0 Million
30            Aston Martin Valkyrie          Price: $3.2 Million
31        W Motors Lykan Hypersport          Price: $3.4 Million
32                    McLaren Solus                 $3.5 Million
33        Pagani Huayra Roadster BC          Price: $3.5 Million
34         Bugatti Chiron Pur Sport          Price: $3.6 Million
35                 Lamborghini Sian          Price: $3.6 million
36                 Koenigsegg CC850          Price: $3.7 Million
37  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
38               Lamborghini Veneno          Price: $4.5 Million
39                   Bugatti Bolide          Price: $4.7 Million
40                  Bugatti Mistral          Price: $5.0 Million
41              Pagani Huayra Imola          Price: $5.4 Million
42                     Bugatti Divo          Price: $5.8 Million
43              SP Automotive Chaos          Price: $6.4 Million
44                 Pagani Codalunga          Price: $7.4 Million
45         Mercedes-Maybach Exelero          Price: $8.0 Million
46               Bugatti Centodieci          Price: $9.0 Million
47          Bugatti Chiron Profilée         Price: $10.8 Million
48             Rolls-Royce Sweptail         Price: $12.8 Million
49         Bugatti La Voiture Noire         Price: $13.4 Million
50           Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)